<h3>Edit Listing</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <input type="text" placeholder="enter the title" name="title" value="<%= listing.title %>">
    <br>
    <br>
    <textarea placeholder="enter the description" name="description"><%= listing.description %></textarea>
    <br>
    <br>
    <input type="text" placeholder="image url" name="image" value="<%= listing.image %>">
    <br>
    <br>
    <input type="number" placeholder="enter the price" name="price" value="<%= listing.price %>">
    <br>
    <br>
    <input type="text" placeholder="enter the location" name="location" value="<%= listing.location %>">
    <br>
    <br>
    <input type="text" placeholder="enter the country" name="country" value="<%= listing.Country %>">
    <br>
    <br>
    <button>Update Listing</button>
</form>
<br>
<a href="/listings/<%= listing._id %>">Cancel</a>
