<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Listing Details: </h3>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Price: $<%= listing.price %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.Country %></li>
        
    </ul>
</body>
</html>