<h3>Listing Details: </h3>
<ul>
    <li>Title: <%= listing.title %></li>
    <li>Description: <%= listing.description %></li>
    <li>Price: $<%= listing.price %></li>
    <li>Location: <%= listing.location %></li>
    <li>Country: <%= listing.Country %></li>
</ul>